.post-detail .outer{
    width:70%;
    margin: 0 auto;
}
.post-detail .outer .detail{
    width:70%;
    margin: 20px 0px;
}
.post-detail .outer .inner{
    margin-left: 70px;
    background: #fff;
    border: 1px solid #dfdfdf;
}
.post-detail .outer .inner .user-info{
    float: right;
    height: 58px;
}
.post-detail .inner .user-info .name{
    font-size: 0.8rem;
    width: 42px;
    height: 16px;
    text-align: center;
    line-height: 16px;
}
.post-detail .outer .host-head{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.post-detail .outer .detail .user{
    border-bottom: 1px solid #dfdfdf;
    padding: 0.3rem 1.5rem;
}
.post-detail .outer .detail .title{
    float: left;
    font-size: 1.2rem;
    color: #444;
    height: 58px;
    line-height: 58px;
}
.post-detail .outer .post{
    color: #444;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-bottom: 1px solid #dfdfdf;
}
.post-detail .outer .post .content{
    margin-bottom: 1rem;
}
.post-detail .outer .post .comment{
    display: inline-block;
    background: #81a908;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    width: 5.2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    cursor: pointer;
}
.post-detail .outer .post .praise{
    font-size: 2.5rem;
    position: relative;
    top: 0.8rem;
    left: 2.5rem;
    color: #aaa;
}
.post-detail .outer .post-comment{
    border-bottom: 1px solid #dfdfdf;
    padding: 1.5rem;
}
.post-detail .outer .post-comment textarea{
    width: 100%;
}
.post-detail .outer .post-comment div{
    width: 100%;
    text-align: right;
}
.post-detail .outer .post-comment div a{
    display: inline-block;
    font-size: 0.8rem;
    color: #fff;
    width: 5.2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 1rem;
}
.post-detail .outer .post-comment div a:first-child{
    background-color: #aaa;
}
.post-detail .outer .post-comment div a:last-child{
    background-color: #81a908;
}
.post-detail .outer .comment-order{
    padding: 1.5rem;
}
.post-detail .outer .comment-order a{
    color: #444;
    margin-right: 1rem;
}
.post-detail .item{
    width: 70%;
    margin-bottom: 1.5rem;
}
.post-detail .item .head{
    width: 48px;
    height: 48px;
    float: left;
}
.post-detail .item .comment{
    margin-left: 70px;
    border: 1px solid #dfdfdf;
}
.post-detail .item .comment .comment-box{
    background: #fff;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.post-detail .item .comment .user .name{
    color:#888;
}
.post-detail .item .comment .content{
    margin-top: 1rem;
}
.post-detail .item .comment .interact{
    text-align: right;
    color: #aaa;
    font-size: 0.8rem;
}
.post-detail .item .comment .interact a{
    color: #aaa;
    cursor: pointer;
}
.post-detail .item .comment .interact span{
    margin-left: 0.8rem;
}
.post-detail .item .comment .interact .praise{
    position: relative;
    left: 0rem;
    top: 0rem;
    cursor: pointer;
}
.post-detail .item .comment .interact .red {
  color: #f36868;
}
.post-detail .item .comment .reply-interact{
    background: #fff;
    border-top: 1px solid #dfdfdf;
    padding: 1.5rem;
    color: #444;
}
.post-detail .item .comment .reply-box{
    width: 100%;
}
.post-detail .reply-interact input[type=text]{
    width: 77%;
    height: 2.5rem;
    padding-left: 6px;
    float: left;
}
.post-detail .reply-interact a.publish{
    display: inline-block;
    width: 20%;
    height: 2.5rem;
    background: #81a908;
    vertical-align: middle;
    line-height: 2.5rem;
    color: #fff;
    float: right;
    text-align: center;
}
.post-detail .reply-interact-box{
    padding: 1rem 0rem 0rem 0rem;
    list-style-type: none;
}
.post-detail .reply-interact-box li{
    font-size: 0.8rem;
    vertical-align: middle;
    clear: both;
    padding: 0.3rem 0rem;
}
.post-detail .reply-interact-box li:first-child {
    padding-top: 0rem;
}
.post-detail .reply-interact-box li:last-child{
    padding-bottom: 0rem;
}
.post-detail .reply-interact-box .head{
    width: 20px;
    height: 20px;
    float: left;
}
.post-detail .reply-interact-box li p{
    margin-left: 15px;
    line-height: 24px;
    float: left;
    width: 65%;
}
.post-detail .reply-interact-box li p .name,
.post-detail .reply-interact-box li p .at-username{
    color: #7594B3;
}
.post-detail .reply-interact-box .reply{
    color: #7594B3;
    float: right;
    display: inline-block;
    line-height: 24px;
    cursor: pointer;
}
/*帖子详情*/
.post-detail .outer{
    width:70%;
    margin: 0 auto;
}
.post-detail .outer .detail{
    width:70%;
    margin: 20px 0px;
}
.post-detail .outer .inner{
    margin-left: 70px;
    background: #fff;
    border: 1px solid #dfdfdf;
}
.post-detail .outer .inner .user-info{
    float: right;
    height: 58px;
}
.post-detail .inner .user-info .name{
    font-size: 0.8rem;
    width: 42px;
    height: 16px;
    text-align: center;
    line-height: 16px;
}
.post-detail .outer .host-head{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.post-detail .outer .detail .user{
    border-bottom: 1px solid #dfdfdf;
    padding: 0.3rem 1.5rem;
}
.post-detail .outer .detail .title{
    float: left;
    font-size: 1.2rem;
    color: #444;
    height: 58px;
    line-height: 58px;
}
.post-detail .outer .post{
    color: #444;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-bottom: 1px solid #dfdfdf;
}
.post-detail .outer .post .content{
    margin-bottom: 1rem;
}
.post-detail .outer .post .comment{
    display: inline-block;
    background: #81a908;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    width: 5.2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
}
.post-detail .outer .post .praise{
    font-size: 2.5rem;
    position: relative;
    top: 0.8rem;
    left: 2.5rem;
    color: #aaa;
    cursor: pointer;
}
.post-detail .outer .post-comment{
    border-bottom: 1px solid #dfdfdf;
    padding: 1.5rem;
}
.post-detail .outer .post-comment textarea{
    width: 100%;
}
.post-detail .outer .post-comment div{
    width: 100%;
    text-align: right;
}
.post-detail .outer .post-comment div a{
    display: inline-block;
    font-size: 0.8rem;
    color: #fff;
    width: 5.2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 1rem;
}
.post-detail .outer .post-comment div a:first-child{
    background-color: #aaa;
}
.post-detail .outer .post-comment div a:last-child{
    background-color: #81a908;
}
.post-detail .outer .comment-order{
    padding: 1.5rem;
}
.post-detail .outer .comment-order a{
    color: #444;
    margin-right: 1rem;
}
.post-detail .item{
    width: 70%;
    margin-bottom: 1.5rem;
}
.post-detail .item .head{
    width: 48px;
    height: 48px;
    float: left;
}
.post-detail .item .comment{
    margin-left: 70px;
    border: 1px solid #dfdfdf;
}
.post-detail .item .comment .comment-box{
    background: #fff;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.post-detail .item .comment .user .name{
    color:#888;
}
.post-detail .item .comment .content{
    margin-top: 1rem;
}
.post-detail .item .comment .interact{
    text-align: right;
    color: #aaa;
    font-size: 0.8rem;
}
.post-detail .item .comment .interact a{
    color: #aaa;
}
.post-detail .item .comment .interact span{
    margin-left: 0.8rem;
}
.post-detail .item .comment .interact .praise{
    position: relative;
    left: 0rem;
    top: 0rem;
}
.post-detail .item .comment .reply-interact{
    background: #fff;
    border-top: 1px solid #dfdfdf;
    padding: 1.5rem;
    color: #444;
}
.post-detail .item .comment .reply-box{
    width: 100%;
}
.post-detail .reply-interact input[type=text]{
    width: 77%;
    height: 2.5rem;
    padding-left: 6px;
    float: left;
}
.post-detail .reply-interact a.publish{
    display: inline-block;
    width: 20%;
    height: 2.5rem;
    background: #81a908;
    vertical-align: middle;
    line-height: 2.5rem;
    color: #fff;
    float: right;
    text-align: center;
    cursor: pointer;
}
.post-detail .reply-interact-box{
    padding: 1rem 0rem 0rem 0rem;
}
.post-detail .reply-interact-box li{
    font-size: 0.8rem;
    vertical-align: middle;
    clear: both;
    padding: 0.3rem 0rem;
}
.post-detail .reply-interact-box li:first-child {
    padding-top: 0rem;
}
.post-detail .reply-interact-box li:last-child{
    padding-bottom: 0rem;
}
.post-detail .reply-interact-box .head{
    width: 20px;
    height: 20px;
    float: left;
}
.post-detail .reply-interact-box li p{
    margin-left: 15px;
    line-height: 24px;
    float: left;
    width: 65%;
}
.post-detail .reply-interact-box li p .name,
.post-detail .reply-interact-box li p .at-username{
    color: #7594B3;
}
.post-detail .reply-interact-box .reply{
    color: #7594B3;
    float: right;
    display: inline-block;
    line-height: 24px;
}
.post-detail .outer .post .red{
    color:#f36868;
}
