*{
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
html{
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
}
body{
    background: #fff;
}
.hid{
    display: none;
}
.red{
    color: #f00;
}
.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1473428792_758629.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1473428792_758629.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1473428792_758629.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1473428792_758629.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1473428792_758629.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}
a{
    text-decoration: none;
}
